<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{algorithmQuestion.title}}
    </mat-panel-title>
    <mat-panel-description>
      {{algorithmQuestion.topic}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-tab-group>
    <mat-tab label="Description">
      <mat-list>
        <p class="list-indent list-item-font-size">Input: </p>
        <div class="list-indent"
             [innerHTML]="converter.makeHtml(algorithmQuestion.input)">
        </div>
        <mat-list-item>Output: {{algorithmQuestion.output}}</mat-list-item>
        <mat-list-item>
          <a [href]="algorithmQuestion.source"
             target="_blank">{{algorithmQuestion.source}}</a>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Hint">
      <mat-list>
        <mat-list-item>
          Techniques: {{algorithmQuestion.techniques.length > 0 ? algorithmQuestion.techniques.join(', ') : ''}}
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Solution">
      <p class="list-indent list-item-font-size">Reference solution: </p>
      <div class="list-indent"
        [innerHTML]="converter.makeHtml(algorithmQuestion.solution)">
      </div>
      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item>
          Time Complexity: {{algorithmQuestion.timeComplexity}}
        </mat-list-item>
        <mat-list-item>
          Space Complexity: {{algorithmQuestion.spaceComplexity}}
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Note" *ngIf="algorithmQuestion.note !== ''">
      <mat-list>
        <mat-list-item>
          {{algorithmQuestion.note}}
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>

  <mat-action-row>
    <button mat-raised-button (click)="onEdit()">Edit</button>
  </mat-action-row>
</mat-expansion-panel>
