<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let question of questions">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{question.title}}
      </mat-panel-title>
      <mat-panel-description>
        {{question.topics.join(', ')}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="Description">
        <mat-list>
          <mat-list-item>Input: {{question.input}}</mat-list-item>
          <mat-list-item>Output: {{question.output}}</mat-list-item>
          <mat-list-item>
            <a [href]="question.source" target="_blank">{{question.source}}</a>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Hint">
        <mat-list>
          <mat-list-item *ngIf="question.techniques.length > 0">
            Techniques: {{question.techniques.join(', ')}}
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Solution">
        <mat-list>
          <mat-list-item>
            Reference solution: {{question.solution}}
          </mat-list-item>
          <mat-list-item>
            Complexity: {{question.runtime[0]}} time, {{question.runtime[1]}}
            space
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Note" *ngIf="question.note !== ''">
        <mat-list>
          <mat-list-item>
            {{question.note}}
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
    <mat-action-row>
      <button mat-raised-button>Modify</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
